<% @title = 'Closet' %>

<p>Welcome back <%= current_user.email %></p>


<% if @dresses.count != 0 %>
<h2>Dresses</h2>
<%= render :partial => 'dashboard/garment_list', :locals => {:garments => @dresses} %>

<% end %>

<% if @tops.count != 0 %>
<h2>Tops</h2>

<%= render :partial => 'dashboard/garment_list', :locals => { :garments => @tops} %>

<% end %>

<ul class="nav">
  <li><%= link_to 'Add a new garment', new_garment_path %>
</ul>
