<% @title = 'Dashboard' %>

<p>Welcome back <%= current_user.email %>

<ul>
<li>What did you wear today?</li>
<li>See Past Outfits</li>
<li><%= link_to 'See Your Closet', '/closet' %></li>
</ul>


<div class="box">
<%= render :partial => 'new_garment_form' %>
</div>

<div class="box">

<%= render :partial => 'new_jewelry_form', :locals => { :jewelry => @jewelry}  %>
</div>
