<% @title = 'Dashboard' %>

<p>Welcome back <%= current_user.email %></p>

<ul>
<% current_user.garments.each do |garment| %>
<li><%= garment.id %></li>
<% end %>
</ul>


<ul class="nav">
  <li><%= link_to 'Add a new garment', new_garment_path %>
</ul>
