
<div class="field">
  <%= f.label :neckline %>
  <br /><%= f.select :neckline, GarmentLengths::Neckline::All %>
</div>

<div class="field">
  <%= f.label :sleeve_length %>
  <br /><%= f.select :sleeve_length, GarmentLengths::SleeveLength::All %>
</div>
